@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');




body {
    
    width: 100%;
    height: 100%;
    background-image: url(/assets/bg.jpg);
    background-size: cover;
    color: white;
    font-family: "Inter", sans-serif;
    margin-left: 20px;
}

 


.logo{
    display: flex;
    justify-content: left;
    margin-top: 40px;
}

.logo img {
    width:200px;
    

}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#domande {
    display: flex;
    width: 50%;
    justify-content: center;
    font-size: 40px;
    margin-bottom: 40px;
}

#lbl {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-bottom: 50px;
    justify-content: space-around;
}

.btnQuestions {
    width: 350px;
    height: 70px;
    border-radius: 30px;
    background-color: transparent;
    color: white;
    border: solid white 3px;
    margin-bottom: 40px;
    font-size: 20px;

    /* mod viola perché sono diventati label -> testo centrato */
    display: flex;
    justify-content: center;
    align-items: center;
    /* fine mod viola */
}

.totalQuestion {
    color: #d20094;
}

.contDomande {
    font-size: 30px;

}



input[type="radio"] {
    appearance: none;
}

/* per fare colorata la risp selezionata */
.btnSelected, .btnQuestions:hover {
    background-color: #d20094;
    color: white;
    border: solid #d20094 3px;
    cursor: pointer;
}

/* mod viola per bottoni e pg finale */
#nextBtn, #restartBtn {
    margin-top: 1em;
    background-color: #00FFFF;
    padding: 1em 1.3em;
    border: none;
    color: black;
    font-size: 1.1em;
    font-family: "Inter", sans-serif;
    border-radius: 30px;
    display: none;
}
#nextBtn:hover, #restartBtn:hover {
    cursor: pointer;
    box-shadow:0 0 10px #00aeff;
    font-size: 1.2em;
}

#finalPage {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    width: 60%;
    margin: auto;
    height: 80vh;    
}

#finalPage p {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}


/* fine mod */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;



}

html {

    font-family: 'Heebo', sans-serif;
    color: #088b8b;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;

}

.main-container {
    height: 100vh;
    background-color: orange;
    background-color: white;
    width: 0px;
    position: fixed;
    top: -300px;
    right: 120px;
}

.circle-container {
    width: 150px;
    height: 150px;
    background-color: white;
    background-color: #ddd;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    z-index: 1;

}

.semicircle {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: right center;

}

.semicircle:nth-child(1) {
    background-color: red;
    background-color: #088b8b;
    z-index: 2;
    transition: transform 0.5s linear, background-color 0.5s ease;


}

.semicircle:nth-child(2) {
    background-color: blue;
    background-color: #088b8b;
    z-index: 3;
    transition: transform 0.5s linear, background-color 0.5s ease;

}

.semicircle:nth-child(3) {
    background-color: white;
    background-color: #ddd;
    z-index: 4;
    transition: transform 0.5s linear, background-color 0.5s ease;

  /*  display: none; */
}

.outermost-circle {

    width: 390px;
    height: 390px;
    background-color: black;
    background-color: white;
    border-radius: 50%;
    z-index: 5;
    /*dispaly: none;*/


}
 /* main-container:hover .semicircle:nth-child(1) {
 transform: rotate(180deg);
    transition: 1s linear;
}
  main-container:hover .semicircle:nth-child(2) {
    transform: rotate(180deg);
       transition: 2s linear;
   }
   main-container:hover .semicircle:nth-child(3) {
   opacity:0;
   transition: opacity 0s 1s;

   }*/
.timer-container {
width: 330px;
height:200px;
z-index: 6;

   }
.timer{
width: 400px;   
height: 100px;
z-index: 7;


   }

   .timer div{
font-size: 70px;
font-weight: 100;
width: 80px ;
height: 80px;
display: flex;
justify-content: center;
align-items: center;
margin: 0 10px 0 10px;
   }
   .timer .colon{
background-color: transparent;
width: 10px;
margin-left: 0;
margin-right: 0;
padding-bottom: 15px;

   }