body {
    
    width: 100%;
    height: 100%;
    background-image: url(/assets/bg.jpg);
    background-size: cover;
    color: white;
    font-family: "Inter", sans-serif;
    margin-left: 20px;
}

 


.logo{
    display: flex;
    justify-content: left;
    margin-top: 40px;
}

.logo img {
    width:200px;
    

}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#domande {
    display: flex;
    width: 50%;
    justify-content: center;
    font-size: 40px;
    margin-bottom: 40px;
}

#lbl {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-bottom: 50px;
    justify-content: space-around;
}

.btnQuestions {
    width: 350px;
    height: 70px;
    border-radius: 30px;
    background-color: transparent;
    color: white;
    border: solid white 3px;
    margin-bottom: 40px;
    font-size: 20px;

    /* mod viola perché sono diventati label -> testo centrato */
    display: flex;
    justify-content: center;
    align-items: center;
    /* fine mod viola */
}

.totalQuestion {
    color: #d20094;
}

.contDomande {
    font-size: 30px;

}



input[type="radio"] {
    appearance: none;
}

/* per fare colorata la risp selezionata */
.btnSelected, .btnQuestions:hover {
    background-color: #d20094;
    color: white;
    border: solid #d20094 3px;
    cursor: pointer;
}

/* mod viola per bottoni e pg finale */
#nextBtn, #restartBtn {
    margin-top: 1em;
    background-color: #00FFFF;
    padding: 1em 1.3em;
    border: none;
    color: black;
    font-size: 1.1em;
    font-family: "Inter", sans-serif;
    border-radius: 30px;
    display: none;
}
#nextBtn:hover, #restartBtn:hover {
    cursor: pointer;
    box-shadow:0 0 10px #00aeff;
    font-size: 1.2em;
}

#finalPage {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    width: 60%;
    margin: auto;
    height: 80vh;    
}

#finalPage p {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}


/* fine mod */
