body {
    
    width: 100%;
    height: 100%;
    background-image: url(/assets/bg.jpg);
    background-size: cover;
    color: white;
    font-family: "Inter", sans-serif;
    margin-left: 20px;
}

 


.logo{
    display: flex;
    justify-content: left;
    margin-top: 40px;
}

.logo img {
    width:200px;
    

}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#domande {
    display: flex;
    width: 50%;
    justify-content: center;
    font-size: 40px;
    margin-bottom: 40px;
}

#lbl {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-bottom: 50px;
    justify-content: space-around;
}

.btnQuestions {
    width: 350px;
    height: 70px;
    border-radius: 30px;
    background-color: transparent;
    color: white;
    border: solid white 3px;
    margin-bottom: 40px;
    font-size: 20px;
    /* mod viola perché sono diventati div messo i div */
    display: flex;
    justify-content: center;
    align-items: center;
    /* fine mod viola */
}

.totalQuestion {
    color: #d20094;
}

.contDomande {
    font-size: 30px;

}



