
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/assets/bg.jpg);
    background-size: cover;
    color: white;
    font-family: "Inter", sans-serif;
}

main{
    width: 80%;
    margin: auto;
} 

.logo img {
    padding: 3em 1em;
    width:200px;
}

.welcome {
    width: 50%;
    font-family: "Outfit", sans-serif;
    font-size: 50px;
    padding: 0.5em 0;
    display: flex;
    flex-direction: column;
}
.welcome span {
    font-weight: 350;
}

.instructions {
    display:flex;
    flex-direction: column;
    width: 60%;
    padding: 1em 0.5em;
}
.instructions h3 {
    color: #d20094;
    font-size: 30px;
    padding: 1em 0;
}

.lista {
    padding: 1em 2em;
}
.lista ul {
    line-height: 1.5em;
}

.procedi { /*div con tutta la parte sotto*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
}

.checkbox {
    display: flex;
    justify-content: left;
}
.checkbox label {
    padding-left: 0.5em;
}


#proceed {
    background-color: #00FFFF;
    width: 200px;
    height: 50px;
    border: none;
    color: black;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    box-shadow:0 0 20px 5px #00aeff;
}
.buttonProceed {
    display: flex;
    justify-content: right;
}


.disabled { 
    opacity: 0.5;
    cursor: not-allowed;
}

.buttonProceed #popupText {
    opacity: 0; /* nascondi il testo */
}
.buttonProceed:hover #popupText {
    opacity: 0.8; /* mostra il testo */
}

#popupText {
    padding:0.5em 1.3em;
    font-size: 1em;
    font-style: italic;
    
    display: flex;
    justify-content: center;
    align-items: center;

    /* trasition che lavora al cambio della proprietà opacity */
    transition: opacity 1s ease-in-out 0.5s;
}
