@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



body {
    
    width: 100%;
    background-image: url(/assets/bg.jpg);
    background-size: cover;
    color: white;
    font-family: "Inter", sans-serif;
    margin-left: 100px;
}

.logo{
    margin-top: 40px;
}

.logo img {
    width:200px;

}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.welcome {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 50px;
    padding: 0%;
    margin-bottom: 20px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.welcome h1 {
    font-weight: 350;
}

.exam {
    padding: 0;
    margin-top: -120px;
}

h1 span {
    font-weight: bold;
}

.instructions {
    display:flex;
    flex-direction: column;
    width: 55%;
    padding-bottom: 0px;
   
}

.instructions h3 {
    color: #d20094;
    font-size: 30px;
}

.procedi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;

}


#proceed {
    background-color: #00FFFF;
    width: 200px;
    height: 50px;
    border: none;
    color: black;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    margin-right: 100px;
}

.buttonProceed {
    display: flex;
    justify-content: right;
    margin-right: 180px;
   
}

.checkbox {
    display: flex;
    justify-content: left;
    margin-top: 20px;
}

